@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 로고 */
.logo {
	position: absolute;
	top: 30px;
	left : 578px;
}
/* 배경색 */
body {
	background: linear-gradient(#F4DEF9, white);
	height: 400px;
	background-repeat: no-repeat;
	font-family: 'Nanum Gothic', sans-serif;
}
/* 폰트 */
button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
/* 리스트 위치 */
.todoList {
	position: absolute;
	top: 375px;
	left: 768px;
	transform: translate(-50%, -50%);
	width: 400px; /*리스트 크기*/
}
/* 입력창 */


#plan inputbar:focus {
	border-color: skyblue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}
.timebar{
	position: absolute;
	left : 500px;
}
/* 계획창 */
.todos>li {
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
	list-style: none;
	padding: 10px 5px;
	margin: 12px 0px;
	border-radius: 3px;
	transition: all 0.4s ease 0s;
}

.content {
	padding: 10px 20px;
}

.content form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	padding: 20px 10px 10px 0;
	border-bottom: 1px solid #8e979c;
}

.content form > * {
  background: transparent;
  border: none;
  height: 50px;
}

.content input[type='text'] {
  padding: 0 5px;
  font-weight: 700;
}

.content ul.todos {
	margin-left: 0;
	padding: 0;
	letter-spacing: none;
	height: 220px;
	overflow: auto;
}

.content li {
	user-select: none;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.content li i {
	color: #6c717b;
	font-size: 15px;
	cursor: pointer;
	padding: 5px 10px;
}
/* 체크창 */
.content input[type="checkbox"] {
	display: none;
}

.content input[type="checkbox"]+label {
	color: #6c717b;
	font-size: 15px;
	cursor: pointer;
	position: relative;
	border-radius: 3px;
	display: inline-block;
	padding: 5px 5px 5px 30px;
}

.content input[type="checkbox"]+label:hover {
	color: #353a42;
	background-color: #f4f7fa;
}

.content input[type="checkbox"]+label span.check {
	left: 4px;
	top: 50%;
	position: absolute;
	transform: translatey(-50%);
	width: 18px;
	height: 18px;
	display: block;
	background: white;
	border-radius: 3px;
	border: 1px solid #b8bfcc;
	box-shadow: 0 2px 3px #f0f4f8;
}

.content input[type="checkbox"]:checked+label {
	color: #aeb7c6;
	text-decoration: line-through;
}

.content input[type="checkbox"]:checked+label span.check {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.content input[type="checkbox"]+label span.check::after {
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	position: absolute;
	background-image:
		url('https://tjgillweb.github.io/Vacation-Todo-App/images/tick.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
	transform: scale(0);
	transition: transform 300ms cubic-bezier(.3, 0, 0, 1.5);
}

.content input[type="checkbox"]:checked+label span.check::after {
	transform: scale(1);
}

.content input[type="checkbox"]+label span.check::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	position: absolute;
	border-radius: 50%;
	background: #8798aa;
	opacity: .8;
	transform: scale(0);
}

.content input[type="checkbox"]:checked+label span.check::before {
	opacity: 0;
	transform: scale(1.3);
	transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms
		cubic-bezier(0.3, 0, 0, 1.4);
}

/* 날짜 */
